.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( to bottom, white, rgba(196, 196, 196, 1));
    height: 100vh;
}

.header-main {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px;
}

.header-main h1{
    margin: auto;
}

.button-logout {
    border: none;
    background-color: rgba(196, 196, 196, 0);
    cursor: pointer;
    font-size: 2em;
}

.messages-feed {
    width: 80%;
    height: 800px;
    background-color: rgb(196, 196, 196);
    overflow: scroll;
}

.message {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.messages-sender {
    width: 80%;
    margin-top: 40px;
}

.messages-sender input{
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 3em;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px;
}


::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
}

@media screen and (max-width: 420px){
    .header-main {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
    }

    .button-send {
        width: 100%;
        align-self: center;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .button-logout {
        margin-top: 10px;
        background-color: rgb(196, 196, 196);
        border-radius: 20px;
    }
}